.profile__edit-button {
  width: 24px;
  height: 24px;
  border: 1px solid white;
  align-self: center;
  justify-self: end;
  display: grid;
}

@media screen and (max-width: 968px) {
.profile__edit-button {
  position: absolute;
  align-self: baseline;
  margin-top: 5px;
  margin-right: 10px;
}
}