.popup__container {
  position: relative;
  width: 429px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  color: black;

}

@media screen and (max-width: 968px) {
  .popup__container {
    width: 282px;
  }
}