.profile {
  max-width: 880px;
  min-width: 320px;
  width: 68.75vw;
  height: 120px;
  justify-self: center;
  margin-top: 40px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 120px auto 150px;
  gap: 0 30px;
}

@media screen and (max-width: 900px) {
.profile {
  width: 282px;
  height: 286px;
  margin-top: 42px;
  grid-auto-flow: row;
  grid-template-columns: auto;
  justify-items: center;
  gap 0;
}
}