.profile__status {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  grid-column: span 2;
}

@media screen and (max-width: 968px) {
  .profile__status {
    font-size: 14px;
    line-height: 16.94px;
    justify-self: center;
  }
}