.edit__form {
  position: relative;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  color: black;
}

@media screen and (max-width: 968px) {
.edit__form {
  width: 282px;
  height: 322px;
}
}