.header {
  max-width: 880px;
  min-width: 320px;
  width: 68.75vw;
  height: 74px;
  border-bottom: 1px solid #545454;
  margin-top: 48px;
  justify-self: center;
}

@media screen and (max-width: 480px) {
.header {
  margin-top: 28px;
  padding-left: 27px;
  height: 56px;
}
}