.profile__add-button {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  align-self: center;
  justify-self: end;
  display: grid;
}

@media screen and (max-width: 900px) {
.profile__add-button {
  width: 280px;
  height: 48px;
  align-self: end;
  justify-self: center;
  display: grid;
}
}