.profile__profile-info {
  display: grid;
  grid-template: repeat(2, auto) / auto 24px;
  align-content: center;
  align-self: center;
  width: 336px;
  gap: 16px 18px;
}

@media screen and (max-width: 968px)  {
.profile__profile-info {
  width: 282px;
  gap: 14px;
}
}