.popup__proname {
  border: none;
  outline: none;
  width: 358px;
  height: 27px;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  padding-left: 30px;
  margin: 29px auto 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

@media screen and (max-width: 968px) {
  .popup__proname {
    width: 238px;
  }
}