.edit__submit {
  width: 358px;
  height: 50px;
  background-color: #000;
  margin-top: 48px;
  margin-left: 36px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 3px;
  border: none;
}

@media screen and (max-width: 968px) {
.edit__submit {
  width: 238px;
  height: 46px;
  background-color: #000;
  margin-top: 45px;
  margin-left: 22px;
  font-weight: 400;
  font-size: 14px;
}
}