.popup {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, .5);
  opacity: 0;
  visibility: hidden;
  transition: .2s ease-in-out;

}